@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #db2777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
}

body {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}

.card {
    margin: 1rem;
}

#form-box {
    height: 366px !important;
}